<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-green-50">
        {% block header %}
            <header>
                <div class="bg-white border-b border-gray-100 ">
                    <div class="h-12 max-w-6xl flex  mx-auto bg-white items-center " >
                        <div class=" max-w-52 container ">
                            <a href="#" class=" text-sm flex items-center p-1.5  text-gray-900 rounded-lg">
                                <span class="whitespace-nowrap font-semibold">DEMO</span>
                            </a>
                        </div>
                        <div class="container  ">
                            <form class="flex">   
                                <div class="relative">
                                    <input type="text" id="voice-search" class=" p-0.5 bg-gray-100 border border-gray-100 focus:outline-none focus:border-gray-300 text-gray-900 rounded-lg" required />
                                    <button type="button" class="absolute inset-y-0 end-0 flex items-center pe-3 ">
                                        <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="max-w-80 container flex justify-end ">
                            <div class="flex items-center ">
                                <a href="#" class=" text-sm flex items-center p-1.5  text-gray-900 rounded-lg">
                                    <span class="inline-block mx-1 h-7 w-7 bg-gray-300 rounded-full overflow-hidden">
                                        <svg class="size-full text-gray-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.12421 7.20374C9.21151 7.20374 10.093 6.32229 10.093 5.23499C10.093 4.14767 9.21151 3.26624 8.12421 3.26624C7.0369 3.26624 6.15546 4.14767 6.15546 5.23499C6.15546 6.32229 7.0369 7.20374 8.12421 7.20374Z" fill="currentColor"></path>
                                            <path d="M11.818 10.5975C10.2992 12.6412 7.42106 13.0631 5.37731 11.5537C5.01171 11.2818 4.69296 10.9631 4.42107 10.5975C4.28982 10.4006 4.27107 10.1475 4.37419 9.94123L4.51482 9.65059C4.84296 8.95684 5.53671 8.51624 6.30546 8.51624H9.95231C10.7023 8.51624 11.3867 8.94749 11.7242 9.62249L11.8742 9.93184C11.968 10.1475 11.9586 10.4006 11.818 10.5975Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <svg class="w-3 h-3 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>